<a href="https://colab.research.google.com/github/tngus211/learn_python_basic/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#chapter03 변수
#실습 3-1 변수를 만들고 값 저장하기
x = 3
y = 5
z = "안녕"
print(x)
print(y)
print(z)
sum = x + y
print(sum)
#변수명 생성 시 주의사항
#변수명이 숫자로 시작하면 X
#대소문자를 구분함 -> data != Data
#한글 변수명이 가능함 => 가능하지만 쓰지 말것.(습관때문에//다른언어에서 오류 발생 시킬 가능성多)
#파이썬의 키워드를 변수명으로 사용하면 X

3
5
안녕
8

In [ ]:
#실습 3-2 파이썬의 키워드 확인하기
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#print가 튜플 등 다른 값으로 재정의되어 문제가 발생한 경우
#이를 기본print함수로 복원하기위해서 builtins 모듈 사용하기
#다음 코드를 통해서 복원할 수 있음
import builtins
print = builtins.print

In [ ]:
#실습 3-3 변수 값을 변경하고 입력받기
number = 5
name = "Kim"
print(number,name)
number = 3
name = number * "Kim"
print(number,name)
name = input("이름 입력 : ")
print(name)
number = int(input("번호 입력 : "))
print(name * number)

5 Kim
3 KimKimKim
이름 입력 : 홍길동
홍길동
번호 입력 : 5
홍길동홍길동홍길동홍길동홍길동

In [ ]:
#input()함수
#키보드로 입력한 값을 모두 문자열로 받아들임
#따라서, 변환이 필요함
#ex.정수형으로 바꾸기위해서는 int(input())

In [ ]:
#실습 3-4 점수의 합계와 평균을 계산해서 출력하기
x = 85
y = 92
z = 76.5
sum = x + y + zㅁ

print(type(x), type(sum))
print("합계 : ", sum)
print("평균 : ", sum/3)

<class 'int'> <class 'float'>
합계 :  253.5
평균 :  84.5

In [ ]:
#bin()함수
#정수형 데이터를 이진수로 바꿔서 봉주는 함수/이진수임을 알리는 표시 0b를 붙여서 표시함

In [ ]:
#실습 3-4 입력한 문자의 실데 숫자 값 확인하기
ch = input("문자 하나만 입력 : ")
print(ch)
print(ord(ch))
print(bin(ord(ch))) #ord()는 하나의 문자만 사용할수있음->문자열 입력 시, 오류

문자 하나만 입력 : a
a
97
0b1100001

In [ ]:
#실습 3-6 문자열의 다양한 형태 알아보기
a = "Hello, " + "Students~"
print(type(a))
b = 3
print(a * b)
a = """Hello,
 students~"""
b = "안녕하세요\t학생여러분"
print(b)
print(a)
a

<class 'str'>
Hello, Students~Hello, Students~Hello, Students~
안녕하세요	학생여러분
Hello,
 students~

'Hello,\n students~'

In [ ]:
#실습 3-7 문자열 서식(format) 설정하기
a = "사과"
print("I think " + a + "is thr best fruit")
print("I think %s is the best fruit"%a) #%s 자리가 변수 a값으로 교체
b = "배"
print("I think %s and %s are the best fruit"%(a,b))
c = 3
print("You are %d %s today"%(c,a)) #변수 c는 정수형이라 %d 사용
print("반지름은 %d이고, 원주율은 %.2f입니다."%(10, 3.141592)) #%.2f 소수점 이하 2자리까지 표시하도록 설정

I think 사과is thr best fruit
I think 사과 is the best fruit
I think 사과 and 배 are the best fruit
You are 3 사과 today
반지름은 10이고, 원주율은 3.14입니다.

In [ ]:
#포맷 코드 종류
print("키는 %d(cm)"%(180)) #%d 정수
print("%f와 %5.1f"%(3.14,3.14)) #%f 실수
print("90 이상은 %c 등급"%('A')) #%c 문자
print("100은 16진수로 %x"%(100)) #%x 16진수
print("100은 %e"%(100)) #%e 지수
print("I like %s"%("meet"))#%s 문자열

키는 180(cm)
3.140000와   3.1
90 이상은 A 등급
100은 16진수로 64
100은 1.000000e+02
I like meet

In [ ]:
#실습 3-8 숫자의 크기 비교하기
x = 3
y = 5
print(x > y)
answer = x + y
print(type(answer))
print(answer)

False
<class 'int'>
8

In [ ]:
#싨브 3-9 값을 입력받아 실수형으로 합계 출력하기
x = float(input("첫번째 수 : "))
y = float(input("두번째 수 : "))
print("%f와 %f의 합은 %f"%(x, y,x+y))
print(str(x) + "와 " + str(y) + "의 합은 " + str(x+y))
print(x, "와 ", y, "의 합은 ", x + y)

첫번째 수 : 1
두번째 수 : 1
1.000000와 1.000000의 합은 2.000000
1.0와 1.0의 합은 2.0
1.0 와  1.0 의 합은  2.0

In [ ]:
#변수의 값 복사와 교환
x = 10
y = x
print(x, y) #변수의 값 복사
x = 10
y = 20
x, y = y, x
print("x : ", x)
print("y : ", y)

10 10
x :  20
y :  10

In [ ]:
#실습 3- 10 변수의 값을 복사하고 교환하기
x = 10
y = x
print("x = %d, y = %d"%(x, y))
x = "콜라"
y = "주스"
x, y = y, x
print("x = %s, y = %s" %(x, y))

x = 10, y = 10
x = 주스, y = 콜라

In [ ]:
#요약
#01 데이터란 어떤 의미나 목적을 포함하지 않은 수집되거나 측정된 값 혹은 자료를 의미함
#02 정보는 이런 데이터를 의도나 목적에 막제 분석 혹은 가공하여 그 의미를 표현한 것으로서,
#   판단이나 결정을 하고 문제해결에도 이용할 수 있음
#03 컴퓨터에서 데이터를 처리하는 기본 단위는 비트이며,
#   0과 1의 이진값을 표현함. 컴퓨터는 필요한 모든 데이터를 이진수로 처리함
#04 모든 문자에 고유 번호를 붙여 놓고, 문자사 입력될 때마다 각 문자에 해당하는 번호로 변환하는 것이
#   컴퓨터의 텍스트 표현 방법임
#05 픽셀 또는 화소는 격자 모양으로 잘게 쪼갠 이미지의 최소 단위로 정의할 수 있음
#06 해상도는 동일한 면적에 표시할 수 있는 픽셀 수를 의미함
#   해상도를 측정하는 단위로는 PPI를 사용함
#07 프로그램이 실행되는 동안 필요한 데이터를 저장하는 공간을 변수라고 함
#08 파이썬에서는 변수명과 대입(할당)연산자를 사용하면
#   변수가 만들어지고 값을 저장할 수 있고, 저장된 값을 다른 값으로 변겅할 수도 있음
#09 input()함수는 키보드에서 값을 입력받아 문자열의 형태로 저장함
#10 변수에 저장되는 값의 종류인 데이터형에는 int,float,atr,bool이 있음
#11 변수의 데이터형을 바꾸는 것을 형 변환이라고 하며, int().float(), str()함수를 사용함
#12 하나 이상의 문자를 저장하는 데이터형을 문자열(텍스트)이라고 하고,
#   파이썬에서는 큰따옴표("")나 작은따옴표('')를 문자열 기호로 사용함->'' 문자/""문자열
#13 파이썬에서 조건 검사에 주로 사용하는 비교 연산자는 실행결과를 불 값으로 표시함

In [1]:
#Ch04 연산
#실습 4-3 몫과 나머지 계산하기
x = int(input("나눠지는 수 : "))
y = int(input("나누는 수 : "))
print("%d를 %d로 나눈 몫 = %d"%(x, y, x//y))
print("%d를 %d로 나눈 나머지 = %d"%(x, y, x%y))

나눠지는 수 : 3000
나누는 수 : 500
3000를 500로 나눈 몫 = 6
3000를 500로 나눈 나머지 = 0

In [2]:
#실습 404 원의 면적 구하기
radius = float(input("원의 반지름 : "))
area = 3.14 * radius ** 2
print("원의 면적 = %f"%(area))

원의 반지름 : 3.5
원의 면적 = 38.465000

In [4]:
#실습 4-5 나이를 기준으로 영화 매표 여부 확인하기
age = int(input("나이를 입력 : "))
print("매표 가능 여부 : ", age >= 17)

나이를 입력 : 17
매표 가능 여부 :  True

In [7]:
#실습 4-6 입력한 정수가 3의 배수인지 확인하기
x = int(input("정수를 입력하세요 : "))
remain = x % 3
print("x는 3의 배수인가? : ", remain == 0)

정수를 입력하세요 : 123
x는 3의 배수인가? :  True

In [8]:
#실습 4-7 학점 계산하기
score = float(input("점수 입력 : "))
absence = int(input("결석 횟수 입력 : "))
print("F학점 여부 : ", (score < 60) or (absence >= 4))

점수 입력 : 90
결석 횟수 입력 : 0
F학점 여부 :  False

In [9]:
#실습 4-8 아이디와 비밀번호로 로그인하기
id = "hong"
pw = "1234"
input_id = input("ID 입력 : ")
input_pw = int(input("PW 입력 : "))
print("로그인 여부 : ", ((id == input_id) and (pw == input_pw)))

ID 입력 : hond
PW 입력 : 1234
로그인 여부 :  False

In [10]:
#실습 4-9 복합 대인 연산자 사용하기
x = 10
y = 5
x += y
x *= y
x %= y
print("x = %d\ny = %d"%(x, y))

x = 0
y = 5

In [11]:
#연산자의 우선순위
#산술 > 비교 > 논리 > 대입 연산자의 순으로 우선순위가 높음

In [12]:
#실습 4-10 정다각형의 내각의 합과 한 내각의 크기 계산하기
n = int(input("3~6사이의 정수 입력 : "))
sumangle = 180 * (n - 2)
intangle = 180 * (n - 2) / n
print("정%d각형의 내각의 합 : %d도"%(n, sumangle))
print("정%d각형의 한 내각의 크기 : %d도"%(n, intangle))

3~6사이의 정수 입력 : 6
정6각형의 내각의 합 : 720도
정6각형의 한 내각의 크기 : 120도

In [13]:
#실습 4-11 거스름돈 계산하기
money = int(input("원 단위로 액수 입력 : "))
pencil = 400
print("연필 개수 : %d 자루"%(money//pencil))
print("거스름돈 : %d 원"%(money % pencil))

원 단위로 액수 입력 : 3000
연필 개수 : 7 자루
거스름돈 : 200 원

In [15]:
#실습 4-12 박테리아 개체 수 계산하기
number = 100
x = 24
result = number * (2 ** x)
print("%d개의 박테리아의 %d시간 후 개체 수 : %d"%(number,x,result))

100개의 박테리아의 24시간 후 개체 수 : 1677721600

In [16]:
#실습 4-13 친구들과 피자 나눠 먹기
person = 3
order = 2
piece = 8
result = (order * piece) // person
remain = (order * piece) % person
print("%d 조각씩 먹을 수 있고, %d 조각이 남습니다."%(result, remain))

5 조각씩 먹을 수 있고, 1 조각이 남습니다.

In [17]:
#실습 4-14 장학금 대상인지 확인하기
grade1 = float(input("1학기 학점 입력 : "))
grade2 = float(input("2학기 학점 입력 : "))
time = int(input("봉사시간 입력 : "))

average = (grade1 + grade2) / 2
result = (average >= 3.0) and (time >= 10)
print("장학금 대상 여부 : ", result)

1학기 학점 입력 : 3.34
2학기 학점 입력 : 2.85
봉사시간 입력 : 12
장학금 대상 여부 :  True

In [18]:
#요약
#01 추상화란 복잡한 대상이나 상황을 간결하고 단순화하여 표현하는 과정
#02 추상화를 사용하면 표현하고자 하는 대상을 빠르고 명확하게 이해할 수 있고,
#   유사한 다른 문제에 대한 일반화된 처리 방법을 알 수 있음
#03 프로그램의 흐름을 나타낼때 복잡한 과정을 생략하고 단순하게 표현하는 방법을 제어 추상화라고 함
#04 데이터 추상화는 문제해결을 위해 필요한 데이터를 파악하고 중요한 정보 요소만 구조화시키는 방법임
#05 추상화 과정에서는 관련 없는 데이터들을 제거하고 문제를 단순화,
#   구체적인 데이터를 일반적인 데이터로 요약, 중요 정보 요소 간의 구조만 핵심적으로 표현함
#06 연산자의 종류 : 산숭 -> 비교 -> 논리 -> 대입
#07 연산자는 산술 > 비교 > 논리 > 대입 연산자의 순으로 우선순위가 높음
#   하지만 어떤 상황에서도 가장 먼저 실행해야 할 부분은 괄호() 안에 있는 수식임

In [23]:
#연습문제 04_단리,원리
a = int(input("원급 : "))
r = float(input("이자율 : "))
n = int(input("기간(1년을 기준으로 함) : "))
s1 = a * (1 + r * n)
s2 = a * (1 + r) ** n
print("단리 합계 : %d"%(s1))
print("복리 합계 : %d"%(s2))

원급 : 10000000
이자율 : 0.05
기간(1년을 기준으로 함) : 10
단리 합계 : 15000000
복리 합계 : 16288946

In [25]:
#ch05 조건
#실습 5-1(순차구조)영화관 무인단말디로 팝콘 주문하기
price = 5000
qty = int(input("팝콘 주문량 : "))
totalPrice = price * qty
print("총 주문량 : ", format(totalPrice, ','), "원")

팝콘 주문량 : 3
총 주문량 :  15,000 원

In [28]:
#실습 5-2 미성년자 여부 확인하기
name = input("이름 입력 : ")
age = int(input("나이 입력 : "))
if (age >= 19) :
  print(name,"님은 성년입니다.")
  print("입장하세요")
else :
  print(name, "님은 미성년입니다.")
  print("입장하실 수 없습니다.")

이름 입력 : 홍길동
나이 입력 : 25
홍길동 님은 성년입니다.
입장하세요

In [29]:
#살습 5-5  AI 비서의 날씨 안내하기
temp = int(input("기온 : "))
dust = int(input("미세먼지 : "))

if (temp > 0) :
  print("오늘 기온은 영상 %d 도입니다."%(temp))
else :
  print("오늘 기온은 영하 %d 도입니다."%(temp))
print("미세먼지 농도는 %d 마이크로그램으로,"%(dust), end = ' ') #end = ' '->2개의 문장을 한줄로 이어서 출력
if (dust > 80) :
  print("나쁨 수준입니다. 마스크를 착용하세요.")
else :
  print("쾌적합니다.")

기온 : 25
미세먼지 : 90
오늘 기온은 영상 25 도입니다.
미세먼지 농도는 90 마이크로그램으로, 나쁨 수준입니다. 마스크를 착용하세요.